<div class="container-fluid bg-dark mt-5 text-light pt-5" id="coloreFooter">
  <div class="row justify-content-around">
      <div class="col-12  d-flex col-md-4 flex-md-row  justify-content-around align-items-center">
        <div id="dimensioneLogo">
          <img src="../../../assets/img/Logo.png" >
        </div>
      </div>
      <div class="col-12  d-flex col-md-4 flex-md-row  justify-content-around align-items-center">
          <a  [routerLink]="['/']" class="menu-footer text-white text-decoration-none" >Home</a> |
           <a [routerLink]="['Audi']" class="menu-footer text-white text-decoration-none" >Audi</a>|
           <a [routerLink]="['Fiat']" class="menu-footer text-white text-decoration-none" >Fiat</a>  |
           <a [routerLink]="['Ford']" class="menu-footer text-white text-decoration-none" >Ford</a>
      </div>
      <div class="col-12 d-flex text-center col-md-4 flex-md-row  justify-content-center align-items-center">
        <address>
          <ul class="list-unstyled">
            <li>Auto <span id="Express">Express</span></li>
            <li>Convenienza e Affidabilità su Ruote</li>
            <li> Via Etna 115</li>
            <li> 95128 Catania</li>
            <li>☎️ - 📠 01124567845</li>
          </ul>
        </address>
      </div>
  </div>
</div>

