#dimensioneLogo{
  max-width: 15em;
}

#dimensioneLogo img{
  width: 100%;
}

#stileLogo{
  width: 15em;
}

#stileLogo Img{
  width: 100%;
}


.ConfermaProntaConsegna{
  background-color: #72A98F;
}

.NonConferma{
  background-color: #F05365;
}
